# path to data files for easy read
input_data_type: "json"
raw_data_path: "label_app/data/2008-mazda3-chunks.json"
labeled_data_path: "label_app/data/mazda-labeled-rewritten.json"
# metrics to be used in objective function
metrics: ["f1_at_k", "embedding_latency", "total_indexing_time"]
# weight of each metric
weights: [1, 1, 1]
algorithms: ["flat", "hnsw"]
vector_data_types: ["float32", "float16"]
# constraints for the optimization
n_trials: 1
n_jobs: 1
ret_k: [1, 10] # potential range of value to be sampled during study
ef_runtime: [10, 20, 30, 50]
ef_construction: [100, 150, 200, 250, 300]
m: [8, 16, 64]
# embedding models to be used
embedding_models:
  - provider: "hf"
    model: "sentence-transformers/all-MiniLM-L6-v2"
    dim: 384
  - provider: "hf"
    model: "intfloat/e5-large-v2"
    dim: 1024
